.cart {
  background-color: grey;
  border: 2px solid;
  padding: 16px;
  height: 480px;
}
.selected-product {
  background-color: rgba(206, 206, 198, 0.315);
}
.btn-choose {
  background-color: rgba(50, 171, 207, 0.705);
  margin: 6px;
  padding: 4px;
}
