.shop {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 50px;
}
.shop-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

@media only screen and (max-width: 600px) {
  .shop,
  .shop-products {
    grid-template-columns: 1fr;
  }
}
